.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav li {
  margin: 0 1rem;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
}

.nav a:hover,
.nav a:active {
  color: #b864da;
}

.nav button {
  font-size: 1.25rem;
  background-color: #ffbb00;
  border: 1px solid #ffbb00;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  color: #2c2922;
}

.nav button:hover,
.nav button:active {
  background-color: #ffa600;
  border-color: #ffa600;
}
